.header  {
  font-family: monospace;
  background: rgb(246, 168, 43);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  color: tomato;
  background: rgb(255, 255, 255);
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
  padding-right: 20px;
}

a {
  font-size: 16px;
  background: white;
  
  /* this removes the line under the links */
  text-decoration: none;
}
